body {
    font-family: Arial;
    text-align: center;
    background: #f7f7f7;
}

h1 {
    margin-top: 30px;
}

.box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}